body {
  margin: 0;
  padding: 0;
  background-color: #ba9983;
  font-family: Arial;
  color: #3d1f0c;
}

#main {
  width: 900px;
  margin-top: 50px;
  margin: auto;
  padding-top: 50px;
}

#form {
  margin-top: 50px;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
  float: right;
  clear: both;
  background-color: #f9ece3;
  padding: 10px;
  border-radius: 10px;
}

#formElements {
  width: 280px;
  margin: auto;
}

input {
  width: 250px;
  border-radius: 3px;
  height: 30px;
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 10px;
}

button {
  background-color: #ba9983;
  border-radius: 3px;
  height: 30px;
  width: 250px;
  font-size: 20px;
  margin: auto;
}

#current {
  display: block;
  clear: both;
  width: 1000px;
  height: 100px;
  margin-top: 350px;
  margin: auto;
}

#finished {
  display: block;
  clear: both;
  width: 1000px;
  height: 100px;
  margin-top: 50px;
  margin: auto;
}

.book {
  margin-bottom: 20px;
  width: 90%;
  float: left;
  clear: both;
  height: 175px;
  border-radius: 4px;
  background-color: #f9ece3;
  border: 1px solid gainsboro;
  font-size: 1.5em;
  font-weight: 550;
  text-align: left;
  padding: 10px;
}

.data {
  width: 50%;
  float: left;
}
