body {
  margin: 0;
  padding: 0;
  background-color: #dcd0c0;
  font-family: 'Josefin Sans', sans-serif;
  color: #373737;
  font-size: 1.5em;
}

#main {
  width: 100%;
  margin: 0;
  padding: 0;
}

#title {
  background: url('../build/images/book.jpg') no-repeat;
  height: 200px;
  width: 100%;
  color: #c0b283;
  font-style: italic;
  font-size: 1.5em;
  padding: 30px;
  margin: 0;
}

#title h1 {
  margin-top: 150px;
}

#form {
  width: 400px;
  margin-top: 30px;
  margin-left: 50px;
  float: left;
  background-color: #f4f4f4;
  font-family: 'Josefin Sans', sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #373737;
}

#formElements {
  width: 360px;
  margin: auto;
}

input {
  font-family: 'Josefin Sans', sans-serif;
  width: 350px;
  border-radius: 3px;
  height: 30px;
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 10px;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #c0b283;
  border-radius: 5px;
  height: 50px;
  width: 360px;
  font-size: 20px;
  margin: auto;
  font-size: 1.2em;
  box-shadow: 2px 2px 5px #373737;
  border: none;
  margin-top: 10px;
}

button:hover,
button:active,
button:focus,
input:active,
input:focus {
  outline: none;
}

.book {
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  background-color: #f4f4f4;
  font-family: 'Josefin Sans', sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #373737;
}

.bookImg {
  width: 250px;
  margin: auto;
}

.bookImg img {
  width: 250px;
}

.data {
  width: 50%;
  float: left;
}

.row {
  width: 100%;
  margin: 0;
  padding: 20px;
  height: 300px;
}

#dashboard {
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
